body {
  background-color: lightblue;
}

nav {
  background-color: rgba(129, 203, 228, 0.815);
  text-align: right;
  border: 2px solid white;
}
h1 {
  text-align: center;
  position: relative;
  padding: 10px;
}

nav li {
  display: inline;
  margin: 15px;
}
div {
  text-align: center;
}
h2 {
  font-size: 20px;
}
img {
  width: 200px;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
footer {
  background-color: rgba(129, 203, 228, 0.815);
  border: 2px solid white;
  padding: 10px;
}
